@import "bootstrap-sprockets";
@import "bootstrap";

@import url("invoice.scss");

.container {
  font-size: 1em;
}

ul {
  list-style-type: none;
  padding:0;
}

.spacer {
  margin: 8em;
}

h4 {
  font-weight:bold;
}
