// @media (min-width: 1200px) {
//   .container{
//     max-width: 1000px
//   }
//}
.tenant{
  text-align: right;
}

.indent {
  text-indent: 10px;
}

.paragraph {
  text-align: justify;
}

.footer {
  font-size: 0.8em;
  font-style: italic;
}
